{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap_tags %}
{% load account socialaccount %}

{% block title %}{% trans "Sign up" %}{% endblock %}

{% block body_outer %}
    <div class="page-header">
        <h2>{% trans "Sign up" %}</h2>
    </div>
    <div class="row">
      {% get_providers as socialaccount_providers %}
      {% if socialaccount_providers %}
          <p>{% blocktrans with site.name as site_name %}Sign up with one
              of your existing third party accounts{% endblocktrans %}</p>
          {% include "socialaccount/snippets/provider_list.html" with process="signup" %}
          {% include "socialaccount/snippets/login_extra.html" %}
          <hr>
      {% endif %}
    </div>
    {% if account_geonode_local_signup %}
        <div class="row">
          <p>{% trans "Registering for users who want to upload data or use advanced functionalities like joining user groups or creating maps" %}</p>
          <form id="signup_form" method="post" action="{% url "account_signup" %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
              <fieldset>
                  {% csrf_token %}
                  <!-- {{ form|as_bootstrap }} -->
                <div class="form-group">
                    <label>Email</label>
                    {{form.email}}
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>First Name</label>
                            {{form.first_name}}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Last Name</label>
                            {{form.last_name}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Organization Name</label>
                            {{form.organization}}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Organization Type</label>
                            {{form.organization_type}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Position</label>
                    {{form.position}}
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>City</label>
                            {{form.city}}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Administrative Area</label>
                            {{form.area}}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Country</label>
                            {{form.country}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Why do you want to register?</label>
                    {{form.reason_joining}}
                </div>
                <div class="form-group">
                    <label>Username</label>
                    {{form.username}}
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Password</label>
                            {{form.password1}}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Password (again)</label>
                            {{form.password2}}
                        </div>
                    </div>
                </div>

                  {% if redirect_field_value %}
                      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}
                  <div class="form-actions">
                      <button type="submit" class="btn btn-primary">{% trans "Sign up" %}</button>
                  </div>
              </fieldset>
          </form>
        </div>
    {% endif %}
{% endblock %}

{% block extra_script %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#id_username').focus();
        });
    </script>
{% endblock %}
